<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FruitFly</title

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- C3 and D3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>

  </head>

  <body>

    <div class="container">
        <h1 class="hero">FruitFly</h1>
        <div align="center">
            <h4 id="insert-date"></h4>
        </div>

        <div style="padding-top:30px;">
            <div class="hidden-xs hidden-sm row">
                <div class="col-md-3"></div>
                <div class="col-md-3"><h3 style="text-align:left;">GAP 4301</h3></div>
                <div class="col-md-1"></div>
                <div class="col-md-2"><h3 style="text-align:center;">GAP 4401</h3></div>
                <div class="col-md-3"></div>
            </div>
            <div class="visible-xs-block visible-sm-block row">
                <div class="col-xs-6"><h3 style="text-align:left;">GAP 4301</h3></div>
                <div class="col-xs-6"><h3 style="text-align:right;">GAP 4401</h3></div>
            </div>
            <table class="table table-responsive">
                <tr>
                    <th><h4></h4></th>
                    <th><img src="/static/img/bananas.png"></img></th>
                    <th><img src="/static/img/citrus-fruits.png"></img></th>
                    <th><img src="/static/img/apple.png"></img></th>
                    <th><h4></h4></th>
                    <th><img src="/static/img/bananas.png"></img></th>
                    <th><img src="/static/img/citrus-fruits.png"></img></th>
                    <th><img src="/static/img/apple.png"></img></th>
                    <th><h4></h4></th>
                </tr>
                <tr>
                    <th><h4>Floor #6</h4></th>
                    <td id="g1f6o" class="success"><a type="button" data-toggle="modal" data-target=".modal-g1f6o"><i class="fa fa-check"></i></a></td>
                    <div class="modal fade modal-g1f6o" tabindex="-1" role="dialog" aria-labelledby="modalid-g1f6o">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">GAP1 #6 Bananas</h4>
                                </div>
                                <div class="modal-body">
                                    <h5>How many left</h5>
                                    <div id="chart_wt_g1f6o" align="center"></div>
                                    <h5>Best time to get'em</h5>
                                    <div id="chart_tm_g1f6o" align="center"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <td id="g1f6a" class="danger"><a type="button" data-toggle="modal" data-target=".modal-g1f6a"><i class="fa fa-times"></i></a></td>
                    <div class="modal fade modal-g1f6a" tabindex="-1" role="dialog" aria-labelledby="modalid-g1f6a">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">GAP1 #6 Oranges</h4>
                                </div>
                                <div class="modal-body">
                                    <h5>How many left</h5>
                                        <div id="chart_wt_g1f6a" align="center"></div>
                                    <h5>Best time to get'em</h5>
                                        <div id="chart_tm_g1f6a" align="center"></div>
                                </div>
                            </div>
                        </div>
                     </div>
                    <td id="g1f6b" class="danger"><i class="fa fa-times"></i></td>
                    <th><h4></h4></th>
                    <td id="g2f6o" class="active"><i class="fa fa-minus"></i></td>
                    <td id="g2f6a" class="active"><i class="fa fa-minus"></i></td>
                    <td id="g2f6b" class="active"><i class="fa fa-minus"></i></td>
                    <th><h4>Floor #6</h4></th>
                </tr>
                <tr>
                    <th><h4>Floor #5</h4></th>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <th><h4></h4></th>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <th><h4>Floor #5</h4></th>
                </tr>
                <tr>
                    <th><h4>Floor #4</h4></th>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <th><h4></h4></th>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <th><h4>Floor #4</h4></th>
                </tr>
                <tr>
                    <th><h4>Floor #3</h4></th>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <th><h4></h4></th>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <th><h4>Floor #3</h4></th>
                </tr>
                <tr>
                    <th><h4>Floor #2</h4></th>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <th><h4></h4></th>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <th><h4>Floor #2</h4></th>
                </tr>
                <tr>
                    <th><h4>Floor #1</h4></th>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <th><h4></h4></th>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <td class="active"><i class="fa fa-minus"></i></td>
                    <th><h4>Floor #1</h4></th>
                </tr>
            </table>
        </div>    
        <!--
        <div align="center">
            <a id="readme" tabindex="0" class="btn btn-sm btn-default" role="button" data-toggle="popover">README </a>
        </div>    
        <div>
            <table class="table table-responsive">
                <tr>
                    <th>.</th>
                    <th><h4>FLOOR #2</h4></th>
                    <th><h4>FLOOR #3</h4></th>
                    <th><h4>FLOOR #4</h4></th>
                </tr>
                <tr>
                    <th><h5>Basket-1</h5></th>
                    <td  class="info">
                        <pre>AVAIL</pre>
                        <div id="chart_wt_g1f6o" align="center"></div>
                        <div id="chart_tm_g1f6o" align="center"></div>
                    </td>
                    <td  class="danger">
                        <pre>EMPTY</pre>
                        <div id="chart_wt_g1f6a" align="center"></div>
                        <div id="chart_tm_g1f6a" align="center"></div>
                    </td>
                    <td  class="info">
                        <pre>AVAIL</pre>
                        <div id="chart_f1_b3" align="center"></div>
                        <div id="chart_div6" align="center"></div>
                    </td>
                </tr>
                <tr>
                    <th><h5>Basket-2</h5></th>
                </tr>
                <tr>
                    <th><h5>Basket-3</h5></th>
                </tr>
            </table>
        </div>
        <h3>GAP1 - FLOOR #3</h3>
        <table class="table table-responsive">
            <thead>
                <th>Basket 1</th>
                <th>Basket 2</th>
                <th>Basket 3</th>
            </thead>
            <tbody>
                <td  class="info">
                    <pre>AVAIL</pre>
                    <div id="chart_wt_g1f6o" align="center"></div>
                </td>
                <td  class="danger">
                    <pre>EMPTY</pre>
                    <div id="chart_wt_g1f6a" align="center"></div>
                </td>
                <td  class="info">
                    <pre>AVAIL</pre>
                    <div id="chart_f1_b3" align="center"></div>
                </td>
            </tbody>
        </table>
        <h3>GAP1 - FLOOR #4</h3>
        <table class="table table-responsive">
            <thead>
                <th>Basket 1</th>
                <th>Basket 2</th>
                <th>Basket 3</th>
            </thead>
            <tbody>
                <td  class="info">
                    <pre>AVAIL</pre>
                    <div id="chart_tm_g1f6o" align="center"></div>
                </td>
                <td  class="danger">
                    <pre>EMPTY</pre>
                    <div id="chart_tm_g1f6a" align="center"></div>
                </td>
                <td  class="info">
                    <pre>AVAIL</pre>
                    <div id="chart_div6" align="center"></div>
                </td>
            </tbody>
        </table>
        <h3>GAP1 - FLOOR #5</h3>
        <table class="table table-responsive">
            <thead>
                <th>Basket 1</th>
                <th>Basket 2</th>
                <th>Basket 3</th>
            </thead>
            <tbody>
                <td  class="danger">
                    <pre>EMPTY</pre>
                </td>
                <td  class="danger">
                    <pre>EMPTY</pre>
                </td>
                <td  class="info">
                    <pre>AVAIL</pre>
                </td>
            </tbody>
        </table>
    </div>
    -->

    <!-- Custom CSS -->
    <style>
        body {
            background-color: #fcfcfc;
        }

        h1, h2, h3, h4, h5, th, td {
            text-align: center;
        }

        h1, h2, h3, h4 {
            font-family: 'Shadows Into Light Two', cursive;
        }

        h5 {
            font-family: Menlo;
            padding-top: 10px;
        }

        h1.hero {
            font-size: 60px;
        }

        .table>tbody>tr>th,
        .table>tbody>tr>td {
            vertical-align: middle;
            border-top: none;
        }

        .c3-chart-arcs .c3-chart-arcs-background {
            fill: #fcfcfc;
        }
    </style>

    <!-- Custom JS -->
    <script>
        /* Date */
        function startTime() {
            var today=new Date();
            var h=today.getHours();
            var m=today.getMinutes();
            var s=today.getSeconds();
            var d=today.toDateString();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById("insert-date").innerHTML = h+":"+m+":"+s+" "+d;
            var t = setTimeout(function(){startTime()},500);
        }
        function checkTime(i) {
            if (i<10) {i = "0" + i};  // add zero in front of numbers < 10
            return i;
        }
        
        /* Readme */
        /*
        $('#pop_g1f6o').popover({
            trigger: "focus hover",
            //title: "Welcome to FruitFly!",
            //content: "Fruitfly tells you:</br>- If there are fruits in the basket</br>- Average minutes fruits last</br>- Average available times",
            title: "GAP1 Floor-6 Oranges",
            content: "<div id='chart_wt_g1f6o' align='center'></div>",
            html: true
        });*/

        /* All charting */
        var chart_wt_g1f6o = c3.generate({
            bindto: '#chart_wt_g1f6o',
            data: {
                columns: [
                    ['data', 20]
                ],
                type: 'gauge',
            },
            gauge: {
                min: 0,
                max: 20,
                units: '',
                label: {
                    format: function(value, ratio) {
                        return value;
                    }
                }
            },
            color: {
                pattern: ['#FF0000', '#F97600', '#F6C600', '#60B044'], // the three color levels for the percentage values.
                threshold: {
        //            unit: 'num', // percentage is default
        //            max: 200, // 100 is default
                    values: [2, 3, 10, 15]
                }
            },
            size: {
                width: 180
            }
        });
        var chart_wt_g1f6a = c3.generate({
            bindto: '#chart_wt_g1f6a',
            data: {
                columns: [
                    ['data', 20]
                ],
                type: 'gauge',
            },
            gauge: {
                min: 0,
                max: 20,
                units: '',
                label: {
                    format: function(value, ratio) {
                        return value;
                    }
                }
            },
            color: {
                pattern: ['#FF0000', '#F97600', '#F6C600', '#60B044'], // the three color levels for the percentage values.
                threshold: {
        //            unit: 'num', // percentage is default
        //            max: 200, // 100 is default
                    values: [2, 3, 10, 15]
                }
            },
            size: {
                width: 180
            }
        });
        var chart_f1_b3 = c3.generate({
            bindto: '#chart_f1_b3',
            data: {
                columns: [
                    ['data', 150]
                ],
                type: 'gauge',
            },
            gauge: {
                min: 0,
                max: 200,
                units: ''
            },
            color: {
                pattern: ['#FF0000', '#F97600', '#F6C600', '#60B044'], // the three color levels for the percentage values.
                threshold: {
                    values: [30, 60, 90, 100]
                }
            },
            size: {
                width: 180
            }
        });
        
        var chart_tm_g1f6o = c3.generate({
            bindto: '#chart_tm_g1f6o',
            data: {
                x: 'x',
                xFormat: '%H:%M',
                columns: [
                    ['x', '8:00', '12:00','12:00', '16:00', '16:00', '18:00'],
                    ['time_window', 0, 0,1, 1,0, 0]
                ]
            },
            axis: {
                x: {
                    type: 'timeseries',
                    //localtime: true,
                    tick: {
                        format: '%H:%M'
                    }
                },
                y : {
                    show: false
                }
        
            },
            size: {
                width: 180,
                height: 150
            }
        });
        var chart_tm_g1f6a = c3.generate({
            bindto: '#chart_tm_g1f6a',
            data: {
                x: 'x',
                xFormat: '%H:%M', // 'xFormat' can be used as custom format of 'x'
                columns: [
                    ['x', '8:00', '12:00','12:00', '16:00', '16:00', '18:00'],
                    ['time_window', 0, 0,1, 1,0, 0]
                ]
            },
            axis: {
                x: {
                    type: 'timeseries',
                    localtime: true,
                    tick: {
                        format: '%H:%M'
                    }
                },
                y : {
                    show: false
                }
        
            },
            size: {
                width: 180,
                height: 150
            }
        });
        var chart_div6 = c3.generate({
            bindto: '#chart_div6',
            data: {
                x: 'x',
                xFormat: '%H:%M', // 'xFormat' can be used as custom format of 'x'
                columns: [
                    ['x', '8:00', '10:00','10:00', '12:00', '12:00', '18:00'],
                    ['data1', 0, 0,1, 1,0, 0]
                ]
            },
            axis: {
                x: {
                    type: 'timeseries',
                    localtime: true,
                    tick: {
                        format: '%H:%M'
                    }
                },
                y : {
                    show: false
                }
        
            },
            size: {
                width: 180,
                height: 150
            }
        });

        /* Periodically load this js file which has the latest fruit status json*/
        function updateStatus() {
            $.getJSON('floors', function(data) {
                console.log(data.floors[0]["weight"], data.floors[0]["status"]);
                console.log(data.floors[1]["weight"], data.floors[1]["status"]);

                if(data.floors[0]["status"] == 1) {
                    $('#g1f6o').removeClass().addClass('success');
                    $('#g1f6o i').removeClass().addClass('fa fa-check');
                } else {
                    $('#g1f6o').removeClass().addClass('danger');
                    $('#g1f6o i').removeClass().addClass('fa fa-times');
                } 
                chart_wt_g1f6o.load({columns:[['data', data.floors[0]['weight']]]});
                console.log(data.floors[0]['time'][0]);
                //chart_tm_g1f6o.x(['8:00', '10:40', '10:40', '11:30', '11:30', '18:00']);

                if(data.floors[1]["status"] == 1) {
                    $('#g1f6a').removeClass().addClass('success');
                    $('#g1f6a i').removeClass().addClass('fa fa-check');
                } else {
                    $('#g1f6a').removeClass().addClass('danger');
                    $('#g1f6a i').removeClass().addClass('fa fa-times');
                } 
                chart_wt_g1f6a.load({columns:[['data', data.floors[1]['weight']]]});
                console.log(data.floors[1]['time'][0]);
                //chart_tm_g1f6o.x([800, 940, 940, 1130, 1130, 1800]);
            });

            var t = setTimeout(function(){updateStatus()},2000);
        }

        $(document).ready(function() {
            console.log("Loading FruitFly!");
            startTime();
            updateStatus();
        });

    </script>
  </body>
</html>
